<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Successfully Logged in!</h1>
    <hr>

    <!-- <% usersWithSecrets.forEach(function(user) { %>
      <p class="secret-text"> <%= user.secret %> </p>
    <% }) %> -->
    <h3>This website Passwords are protected using Hashing..</h3>
    <h6 class="">
      <td>
        <ul>
          <li>Used Passport.Js library</li>
          <li>Enabled Authentication using Middleware library</li>
          <li>Oprion for Signing up with Google also Supported !</li>
        </ul>
    </td>
  </h6>
    
    
    <p class="secret-text"></p>
    <hr>
    
    <a class="btn btn-light btn-lg hover:bg-sky-700" href="/logout" role="button">Log Out</a>
    <!-- <button class="btn btn-light btn-lg hover:bg-sky-700" href="/logout" role="button">log Out</button> -->
    <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
